.speech {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;

}

.direction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    background-color: lightgray;
}

.direction:hover {
    background-color: lightblue;
    color: white;
}
.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.ZINAIDA {
    color: #ff6666;
}

.MARTHA {
    color: #3366ff;
}



.ZINAIDA:hover{
    font-size: medium;
    color:beige;
    text-shadow: 3px 2px 4px blue;
    border-style: dashed;
    border-radius: 5px;
}

.MARTHA:hover{
    font-size: medium;
    color:azure;
    text-shadow: 3px 2px 4px blue;
    border-style: dashed;
    border-radius: 5px;
}

.table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

th, td {        
    padding: 8px;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    border-bottom: 1px solid #ee2525;      
}   

tr:hover{
    background-color: #7d7777;
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li{
    float: left;
}

.a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: white;
    transition: 0.3s;
} 

.KOSICH {
    color: #ff6666;
}

.AVDOTIA{
    color: #3366ff;
}

.KOSICH:hover{
    font-size: medium;
    color:beige;
    text-shadow: 3px 2px 4px rgba(236, 33, 33, 0.8);
    border-style:solid;
    border-radius: 5px;
}

.AVDOTIA:hover{
    font-size: large;
    color:lightgreen;
    text-shadow: 1px 1px 1px green;
    border-width: thin;
    border-radius: 5px;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    font-size: 20px;

}

ul.navbar-horizontal li {
    float:left;
    
    background-color: rgb(247, 237, 237);
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
ul.navbar-horizontal a:hover {
    background-color: rgb(150, 140, 141);
}









